.nav{
    height: 10vh;
    padding: 1rem;
    &__list{
    list-style-type: none;
    text-align: right;
    }

    &__item{
        display: inline;
        padding: 1rem;
    }

    &__link{
        text-decoration: none;
        
        color:white;
        text-transform: uppercase;
        font-size: 1.4rem;
        font-weight: 500;
        @include transition(0.8s);

        &--active{
            color:$secondary-color
        }

        &:hover{
            color: blue;
        }


    }


}