@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.link-style a, footer.middle a, .vertical .social-icons a, .horizontal a {
  padding: 0.4rem;
  transition: all 1s;
}
.link-style a:hover, footer.middle a:hover, .vertical .social-icons a:hover, .horizontal a:hover {
  color: #ff652f;
}

.horizontal {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 10vh;
  padding: 1rem;
}

.vertical {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 2rem;
  margin-bottom: 1rem;
}
.vertical .social-icons {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 1rem;
}
.vertical .copyright {
  position: fixed;
  bottom: 1rem;
  right: 3rem;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

footer.middle {
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.nav {
  height: 10vh;
  padding: 1rem;
}
.nav__list {
  list-style-type: none;
  text-align: right;
}
.nav__item {
  display: inline;
  padding: 1rem;
}
.nav__link {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 500;
  transition: all 0.8s;
}
.nav__link--active {
  color: #ff652f;
}
.nav__link:hover {
  color: blue;
}

.about-bgImg-container {
  height: 50vh;
  width: 100%;
  background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url("../img/model-1.jpg");
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
.about-bgImg-container .about__bio-image {
  padding-bottom: 2rem;
}
.about-bgImg-container .about__bio-image h2 {
  padding: 2rem;
  font-size: 3rem;
  color: #ff652f;
}
.about-bgImg-container .about__bio-image p {
  font-size: 1.2rem;
}

.about__container {
  width: 70vw;
  margin: 2rem auto;
}
.about__job {
  background-color: #414141;
  margin: 1rem;
  padding: 1rem;
  border-bottom: 5px solid #ff652f;
}
.about h2, .about h3, .about h6 {
  padding-bottom: 0.5rem;
}

.contact-bgImg-container {
  height: 100vh;
  width: 100%;
  background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url("../img/model-1.jpg");
  background-position: center center;
  background-size: cover;
}

.contact {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.contact__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7rem;
}
.contact__item {
  margin: 2rem 0;
  text-align: center;
  font-size: 1.5rem;
}
.contact__item .text-secondary {
  color: #ff652f;
}
.contact h2 {
  font-size: 3rem;
}

.home-bgImg-container {
  height: 100vh;
  width: 100%;
  background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url("../img/model-1.jpg");
  background-position: center center;
  background-size: cover;
}

.home {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.home h1, .home h2 {
  font-weight: 400;
}
.home__name {
  font-weight: 400;
  font-size: 5rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid white;
}
.home__name--last {
  color: red;
  font-weight: 700;
}

.project-bgImg-container {
  height: 40vh;
  width: 100%;
  background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url("../img/model-1.jpg");
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.project-bgImg-container .projects__bio-image {
  text-align: center;
  margin-bottom: 0.5rem;
}

.projects__items {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 5rem;
  gap: 1rem 0;
}
.projects__item {
  width: 100%;
  cursor: pointer;
  border-bottom: 5px solid #ff652f;
  position: relative;
  width: 33%;
}
.projects__item img {
  width: 100%;
}
.projects__item::after {
  content: "";
  height: 100%;
  width: 100%;
  background-color: #ff652f;
  position: absolute;
  left: 0;
  opacity: 0;
  transition: all 0.6s;
}
.projects__item:hover::after {
  opacity: 0.7;
}

body {
  color: #eee;
  background-color: #272727;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
  line-height: 1;
}

a {
  text-decoration: none;
  color: #eee;
}

h1, h2, h3 {
  font-weight: 400;
}

/*# sourceMappingURL=style.css.map */
