.home-bgImg-container{
 @include bgImage(100vh, $main-bgImage-path);
}

.home{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    text-align: center;
    h1, h2{
        font-weight:400;

    }
    &__name{
        font-weight:400;

        font-size: 5rem;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        border-bottom: 2px solid white;
        &--last{
            color:red;
            font-weight:700;
        }
    }
}