*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 1px;
}
.header{
    height: 20vh;
    background-color: cadetblue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header p{
    text-align: center;

}


nav{
    background-color: darkblue;
    padding: 12px 0;
}
nav a{
    margin-left: 12px;
    color: white;
    font-size: 18px;
}
section{
    display:flex;
    width: 100%;
}
.div1{
    padding: 10px;
    width: 30%;
    height:auto;
    background-color: rgb(225, 241, 0);
}
.image1{
    background-image: url("https://picsum.photos/id/684/600/400");
    background-size: cover;
    height: 200px;
    margin: 8px 5px;

    border-radius: 15px;

}

.imggrup .img1{
    background-image: url("https://picsum.photos/id/338/600/400");
    background-size: cover;
    height: 200px;
    margin: 8px 5px;

    border-radius: 15px;




}
.img2{
    background-image: url("https://picsum.photos/id/318/610/400");
    background-size: cover;
    height: 200px;
    margin: 8px 5px;

    border-radius: 15px;




}
.img3{
    background-image: url("https://picsum.photos/id/328/750/450");
    background-size: cover;
    height: 200px;
    margin: 8px 5px;
    border-radius: 15px;




}
.div2{
    padding: 10px;
    width: 70%;
    height: auto;
    background-color: rgb(157, 240, 102);
}
.image2{
    background-image: url("https://picsum.photos/id/593/600/400");
    height: 300px;
    width: 300px;
    background-size: cover;
    float: left;
    margin-right: 10px;
    border-radius: 15px;

}
.div3 p{
    margin-bottom: 15px;
    text-align: justify;
}

.div3::after {
    content: "";
    clear: both;
    display: table;
  }

.div4 p{
    text-align: justify;

}

.image3{
background-image: url("https://picsum.photos/id/112/600/400"); 
   height: 300px;
    width: 300px;
    background-size: cover;
    float: right;
    margin-left: 5px;
    border-radius: 15px;
}