*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    transition: 0.3s ease;    
}
body{
    background-color: #e84242;
    height: 200vh;
  
    

}
.logo{
    width: 100px;
}
.header1{
    background-color: white;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7%;
    margin:20px 7%;
    border-radius: 50px;
    box-shadow: 3px 3px 7px white;
    position: sticky;
    top:3px;
    z-index: 1000;
}
.navbar a{
    color:black;
    font-size: 25px;
    margin:0 20px;
    border-bottom: 1px solid transparent;
}
.navbar .active,
.navbar a:hover{
    border-color: #e84242;
    padding-bottom: 2px;
}
.buttons button{
    cursor:pointer;
    font-size: 25px;
    border:none;
    margin-left: 25px;
    background-color: transparent;
}
.home{
    background: url(images/home.jpg);   
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin-top:-144px;
    display: flex;
}
.home-container{
    padding: 0 7%;
}
.home h1{
    font-size: 60px;
    color:white;
    margin-top: 20%;
}
.home p{
    color:white;
    font-size: 17px;
    line-height: 32px;
    letter-spacing: 2px;
    width: 60%;
    margin-top: 40px;
}
.home-button{
    height: 60px;
    width: 150px;
    border-radius: 30px;
    border: none;
    background-color:darkorange;
    margin-top: 40px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 4px 4px 8px gray;
}
.home-button:hover{
    transform: scale(1.13);    
}
/* menu start */
h2{
    font-size: 50px;
    text-align: center;
    margin-top: 50px;
    box-shadow: 5px 5px 8px gray;
}
.container1, .container2{
    display: flex;
    flex-flow:row wrap;
    justify-content: center;
    margin-top: 100px;    
}
.box{   
    text-align: center;
    background-color: white;
    margin-left: 120px;  
    border-radius: 60px;  
    box-shadow: 4px 4px 8px gray; 
}
.box img{
    width: 400px;
    height: 400px;
    
}
h3{    
    font-size: 30px;
    margin-top: 20px;
}
.box p{    
    font-size: 20px;
    margin-top: 10px;
    
}
.box p span{
    font-size: 16px;
    text-decoration: line-through ;    
    margin-left: 20px;
}
.btn{
    width: 120px;
    height: 40px;
    border:none;
    border-radius: 20px;
    background-color: black;
    color: white;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 5px;
    box-shadow: 4px 4px 8px gray; 
}
.box:hover{
    transform: scale(1.12);
    background-color: #f5737384;
}

.btn:hover{
    transform: scale(1.12);
    background-color: #e84242;
}




/* menu end */