*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    transform: 0.2s ease;
}
body{
    background-color: #e84242;
    height: 200vh;
}
.logo{
    width: 100px;
}

.header1{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 7%;
    padding: 0 7%;
    border-radius: 50px;
    box-shadow: 3px 3px 7px white;
    position: sticky;
    top:0;
    z-index: 1000;
}
.navbar a{
    color:black;
    font-size: 25px;
    margin: 0 15px;
    border-bottom: 2px solid transparent;

}
.navbar a:hover{
    border-color: #e84242;
    padding-bottom: 3px;
}
.buttons button{
    margin:0 5px;
    cursor: pointer;
    border: none;
    font-size: 25px;
    background-color: white;
}
.home h1{
    font-size: 60px;
    color: white;
    margin-top: 20%;
}
.home p{
    color: white;
    font-size: 17px;
    line-height: 32px;
    letter-spacing: 2px;
    width: 60%;
    margin-top: 40px;
}
.home button{
    height: 60px;
    width: 150px;
    border-radius: 30px;

}
.container1{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 40px;
}
.container2{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.box img{
    width:240px;
    height: 200px;
}
.box{
    margin-right: 40px;
    text-align: center;

}
.box h3{
    font-size: 28px;
    margin-top: 5px;
}
.box p{
    font-size: 20px;
}
.box span{
    text-decoration: line-through white;
}